<div id="container_{{ media.id }}">Video Player Loading...</div>


<script type="text/javascript">
    jwplayer("container_{{ media.id }}").setup({
        file: "{{ options.file }}",
        image: "/uploads/media/{{ options.thumbnail.getKey() }}",
        width: "{{ 525 }}",
        height: "{{ 350 }}",
        //skin: "/common/player/glow/glow.xml",
        modes: [
            { type: "html5" },
            { type: "flash", src: "{{ asset('bundles/maesboxvideo/player/jwplayer.flash.swf') }}" },
            { type: "http" }
        ]
    });
</script>